@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	display: none;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	background: radial-gradient(circle at top left, #b57edc, #000000);
}
